@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* Custom Classes */
.transition-200 {
  @apply transition-all duration-200 ease-in-out;
}
.transition-300 {
  @apply transition-all duration-300 ease-in-out;
}
